 html, body { font-family: 'Roboto Mono'; text-align: center; }

 textarea {margin-top: 5%;}

 #description {padding-bottom: 5%;}


 .user_info{margin: 0; text-align: left;}
 .photo_button {margin-top : 5%;}

 #send_button { margin-top: 7%;}
