<!DOCTYPE html>
<html>

  <head>
    <title> I like the way </title>

  </head>

  <body>

  <div class="user_info">
    <img>

  </div>
  <div class="controller">
    <center
    <h1>I LIKE THE WAY</h1>
    <p id="description">Tell your friends what you admire about them</p>

    <input type="text" placeholder="that special person">
    

      <textarea name="thoughts" cols="50" rows="10"></textarea>
      </br>
      <button class="photo_button">Add Image</button>
      <button class="photo_button">Upload Image</button>
      <button class="photo_button">Cancel</button>
      </br>
      <button id="send_button">Send</button>
    </form>
  </div>

  </body>

</html>
