<html>
<head>
</head>
<body>

  <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=383744588496405";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

You said: I like the way <%= @thought %>
<div class="fb-send" data-href="https://apps.facebook.com/fathomless-wildwood/submit/"></div>

</body>
</html>

<!-- 'You just made my day'
['You’re an excellent cook',
'You’re an excellent artist',
'You’re an excellent teacher',
'You’re an excellent athlete',
'You’re a great laugh',
'I like the way you are',
'You have a great sense of style',
'Thanks for being there for me',
'Your kids are so nice']
'Your kids are so thoughtful'
'Your kids are so well-behaved'
'Your smile brightens the room'
'Have you lost weight?'
'Your home feels so inviting'
'You deserve a promotion'
'You make me want to be a better person'
'You look so young'
'I like your aura'
'Thank you'
'You are beautiful'
'You are an awesome mom'
'You’re so good at your job'
'I like that shirt on you'
'You take such good care of our family'
'I sure love you'
'I'm so glad I married you'
'I'm so proud of you'
'You're so hot'
'Thanks for fixing the broken dryer'
'You can always make me laugh'
'You're so strong'
'I love spending time with you'
'I don’t know what to say, but I care about you'
'You rock'
'You are my favourite'
'You light up my world'
'You're an angel fallen from the sky'
'Do you remember the time...?'
'I miss you'
'Sending you a big hug'
 -->
